<div class="errorPage">
    <h1 class="errorPage-heading mb-3">404</h1>
    <div class="cloak_container">
        <div class="cloak">
        </div>
    </div>
    <div class="info">
        <h2 class="errorPage-sub-heading mb-4 font-weight-normal">We can't find that page</h2>
        <p class="errorPage-text mb-5 font-weight-light">
            The page you are looking for does not exist. How you got here is a mystrey. But you can click the button below to go back to the homepage.
        </p>
    </div>
    <button type="button" class="btn btn-form-primary btn-lg" routerLink="/home">Home</button>
</div>