.heroImg{
    height: 91.2vh;
    background-image: linear-gradient(rgba(#000, 0.3), rgba(#000, 0.3)), url('../../../assets/images/world_map_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}